{% load static %}
{% load compress %}

<nav>
    <div class="logo-container">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Biblioteca" class="logo">
        <span class="logo-text" id="typewriter"></span>
    </div>

    <div class="div-middle">
        <ul>
            <li>
                <a href="{% url 'home' %}" class="js-link" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-book" viewBox="0 0 16 16">
                        <path
                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>
                    <span class="nav-text">Livros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'sugestion' %}" class="js-link" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-dots" viewBox="0 0 16 16">
                        <path
                            d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        <path
                            d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
                    </svg>
                    <span class="nav-text">Sugerir</span>
                </a>
            </li>
            {% if request.user.is_staff %}
            <li>
                <a href="{% url 'dashboard' %}" class="js-link" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5 mr-2 text-gray-500"
                        viewBox="0 0 16 16">
                        <path
                            d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z" />
                        <path
                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
                        <path
                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
                    </svg>
                    Dashboard
                </a>
            </li>
            {% endif %}
            <li>
                <a href="" class="js-link" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                    <span class="nav-text">Sobre</span>
                </a>
            </li>
            <li>
                <a href="{% url "courses" %}" class="js-link" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8">
                        </path>
                        <path
                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2">
                        </path>
                        <path
                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z">
                        </path>
                    </svg>

                    <span class="nav-text">Cursos</span>

                </a>
            </li>
        </ul>
    </div>

    <div class="user-img">
        {% comment %} <div>
            <form method="GET" action="{% url 'home' %}">
                <div class="relative flex items-center">
                    <input type="text"
                        class="w-full pr-10 px-5 rounded-sm border-[#dde3ec] bg-white text-sm font-medium text-[#536387] placeholder:text-[#53638780] transition-all duration-300 ease-in-out w-12 focus:w-64 absolute right-0"
                        id="formbold-form-input" placeholder="Livros, autores, categorias..."
                        onfocus="this.classList.remove('w-12');"
                        onblur="if(this.value === '') { this.classList.remove('w-64'); this.classList.add('w-12'); }"
                        style="border-radius: 3px; outline: none;resize: none;" name="search">
                    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4" id="btn-search">
                        <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                            </path>
                        </svg>
                    </button>
                </div>
            </form>

        </div> {% endcomment %}
        <div>

            <img src="{% static 'imgs/user.png' %}" alt="User Default Image" class="logo h-10" id="profile-img">

            <div id="profile-menu"
                class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden transform scale-95 opacity-0 transition-all duration-200 ease-out">
                <ul class="py-2">
                    <li>
                        <a href="/profile" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500"
                                fill="currentColor" viewBox="0 0 24 24">
                                <path d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm-7 9a7 7 0 1 1 14 0H5z" />
                            </svg>
                            Meu Perfil
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}"
                            class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500"
                                fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M16 13v-2H7V7l-5 5 5 5v-4h9zm7-10H9a2 2 0 0 0-2 2v4h2V5h14v14H9v-3H7v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z" />
                            </svg>
                            Sair
                        </a>
                    </li>
                </ul>

            </div>
        </div>


    </div>
</nav>

{% compress js %}
    <script>
        function typeWriter(element, text, speed, callback) {
            let index = 0;
            const elementText = text;

            function typingEffect() {
                if (index < elementText.length) {
                    element.textContent += elementText.charAt(index);
                    index++;
                    setTimeout(typingEffect, speed);
                } else if (callback) {
                    setTimeout(callback, 10);
                }
            }

            typingEffect();
        }

        function deleteText(element, speed, callback) {
            let text = element.textContent;

            function erase() {
                if (text.length > 0) {
                    text = text.slice(0, -1);
                    element.textContent = text;
                    setTimeout(erase, speed);
                } else if (callback) {
                    setTimeout(callback, 500);
                }
            }

            erase();
        }

        const typewriterElement = document.getElementById('typewriter');
        const text = 'SmartBits Virtual MedLib';

        function startTypingEffect() {
            typeWriter(typewriterElement, text, 50, () => {
                setTimeout(() => {
                    deleteText(typewriterElement, 30, startTypingEffect);
                }, 1000);
            });
        }

        setTimeout(() => {
            startTypingEffect();
        }, 800)


        const profileImg = document.getElementById('profile-img');
        const profileMenu = document.getElementById('profile-menu');

        profileImg.addEventListener('click', () => {
            if (profileMenu.classList.contains('hidden')) {
                profileMenu.classList.remove('hidden');
                setTimeout(() => {
                    profileMenu.classList.remove('scale-95', 'opacity-0');
                    profileMenu.classList.add('scale-100', 'opacity-100');
                }, 10);
            } else {
                profileMenu.classList.remove('scale-100', 'opacity-100');
                profileMenu.classList.add('scale-95', 'opacity-0');
                setTimeout(() => profileMenu.classList.add('hidden'), 200);
            }
        });


        document.addEventListener('click', (event) => {
            if (!profileImg.contains(event.target) && !profileMenu.contains(event.target)) {
                profileMenu.classList.remove('scale-100', 'opacity-100');
                profileMenu.classList.add('scale-95', 'opacity-0');
                setTimeout(() => profileMenu.classList.add('hidden'), 200);
            }
        });

    </script>
{% endcompress %}