{% extends 'bases/library.html' %}
{% load compress %}
{% load static %}

{% block title %}
  {{ request.user.username }} - Perfil
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/control/profile.css' %}" />
  {% endcompress %}
{% endblock %}

{% block content %}
    <main>
        <div class="profile-container">
            <div class="header">
                <div class="profile-photo-container">
                    <label for="profile-photo-upload" class="upload-label">
                        <div class="image-wrapper">
                            <img 
                                id="profile-photo-preview" 
                                src="{% if request.user.reader.photo %}{{ request.user.reader.photo.url }}{% else %}{% static 'imgs/user.png' %}{% endif %}" 
                                alt="User Image"
                            />
                            <div class="camera-icon">
                                <i class="bi bi-camera"></i>
                            </div>
                        </div>
                    </label>
                    <input 
                        type="file" 
                        id="profile-photo-upload" 
                        name="profile_photo" 
                        accept="image/*" 
                        class="hidden-input"
                    />        
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <span style="font-size: 20px; font-weight: 500;">
                        {{ request.user.username }}
                    </span>
                </div>
            </div>

            <div class="user-data">
                <hr>
                <h3 style="margin-bottom: 8px; margin-top: 10px;">Informações do Usuário</h3>
                <div class="data-group">
                    <div class="single-input-group">
                        <label for="first-name">Primeiro Nome</label>
                        <div class="input-group">
                            <input type="text" {% if request.user.first_name %}value="{{ request.user.first_name }}"{% endif %} placeholder="Primeiro Nome" id="first-name"/>
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="single-input-group">
                        <label for="last-name">Sobrenome</label>
                        <div class="input-group">
                            <input type="text" {% if request.user.last_name %}value="{{ request.user.last_name }}"{% endif %} placeholder="Sobrenome" id="last-name"/>
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 8px;margin-bottom: 8px;">
                    <span style="color: #333;">
                        O seu último login foi em 
                    </span>
                    {{ request.user.last_login|date:"d/m/Y"}}
                </div>
                    <div class="single-input-group">
                        <label for="email">E-mail</label>
                        <div class="input-group">
                            <input type="email" value="{{ request.user.email }}" placeholder="E-mail" id="email" />
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="badge">
                            A sua conta ainda não foi verificada!<a href="#"> Clique Aqui</a>
                        </div>
                    </div>
                </div>
                <h3>Segurança</h3>
                <div class="data-group">
                    <div class="single-input-group">
                        <label for="password">Alterar Senha</label>
                        <div class="input-group">
                            <input type="password" placeholder="Nova Senha" id="password" />
                            <i class="bi bi-lock"></i>
                        </div>
                    </div>
                    <div class="single-input-group">
                        <label for="confirm-password">Confirmar Senha</label>
                        <div class="input-group">
                            <input type="password" placeholder="Confirmar Nova Senha" id="confirm-password" />
                            <i class="bi bi-lock-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}