{% extends 'bases/control.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/control/signup.css' %}">
{% endblock head %}


{% block title %}
Cadastre-se - SmartBits VL
{% endblock title %}

{% block content %}
<div class="formbold-main-wrapper rounded" style="scale: 0.999;">
      <div class="formbold-form-wrapper max-w-sm overflow-hidden rounded shadow-lg formbold-form-input">
            <div class="div-logo">
                  <img class="img-logo" src="{% static 'imgs/logo.png' %}">
                  <div class="text-center mb-6">
                        <h1 class="text-2xl font-bold text-gray-700">Criar uma conta</h1>
                        <p class="text-sm text-gray-500">Cadastre-se na nossa Biblioteca Virtual</p>
                  </div>
            </div>
            <hr>
            <br>
            <form action="{% url 'signup' %}" method="POST">
                  {% include 'partials/forms_errors.html' with form=form %}

                  {% csrf_token %}
                  <div class="formbold-input-wrapp formbold-mb-3">
                        <div>
                              {{ form.firstname }}
                              {{ form.lastname }}
                        </div>
                  </div>

                  <div class="formbold-mb-3">
                        {{ form.process_number }}
                  </div>

                  <div class="formbold-input-wrapp formbold-mb-3">
                        <div>
                              <select class="formbold-form-input" name="course" id="occupation" required>
                                    <option value="" selected disabled>Selecione o seu curso</option>
                                    <option value="Informática">Informática</option>
                                    <option value="Eletrónica">Eletrónica</option>
                              </select>

                              <select class="formbold-form-input" name="grade" id="occupation" required>
                                    <option value="" selected disabled>Selecione a sua classe</option>
                                    <option value="10">10ª classe</option>
                                    <option value="11">11ª classe</option>
                                    <option value="12">12ª classe</option>
                                    <option value="13">13ª classe</option>
                              </select>
                        </div>
                  </div>

                  <div class="formbold-mb-3">
                        <fieldset class="border p-4 rounded-lg">
                              <legend class="text-lg font-semibold text-gray-800 mb-4" style="color: #3f4041;">Selecione
                                    a sua turma</legend>
                              <div class="flex space-x-6">

                                    {% for radio in form.group %}
                                    <div class="flex items-center">
                                          {{ radio }}
                                    </div>
                                    {% endfor %}
                              </div>
                        </fieldset>
                  </div>

                  <div class="formbold-input-flex">
                        <div>
                              {{ form.password }}
                        </div>
                        <div>
                              {{ form.confirm_password }}
                        </div>
                  </div>
                  <div class="formbold-mb-3">
                        <button type="submit"
                    class="formbold-btn w-full bg-[#3DB1C8] text-white py-2 px-4 rounded-full shadow-lg transition-transform duration-300 transform">
                              Cadastrar-se
                        </button>
                  </div>
                  <div class="formbold-mb-3">
                        <p class="text-sm text-gray-600 text-center mb-2">
                              Já tem conta?
                              <a href="{% url 'signin' %}" class="text-blue-600 hover:underline font-medium">
                                    Iniciar Sessão
                              </a>
                        </p>
                  </div>

            </form>
      </div>
</div>


<script>
      const firstname = document.querySelector("#id_firstname")
      firstname.addEventListener("input", (event) => {
            const value = event.data
            if (Number(value) || Number(value) === 0) {
                  firstname.value = firstname.value.replace(value, "")
            }
      })

      const lastname = document.querySelector("#id_lastname")
      lastname.addEventListener("input", (event) => {
            const value = event.data
            if (Number(value) || Number(value) === 0) {
                  lastname.value = lastname.value.replace(value, "")
            }
      })

      const processNumber = document.querySelector("#num-process")
      processNumber.addEventListener("input", (event) => {
            const value = event.data

            if (!Number(value) && Number(value) !== 0) {
                  processNumber.value = processNumber.value.replace(value, "")
            }

            if (processNumber.value.length > 4) {
                  processNumber.value = processNumber.value.slice(0, 4)
            }

            if (value === " ") {
                  processNumber.value = processNumber.value.replace(value, "")
            }

            if (processNumber.value.length > 0) {
                  processNumber.style.fontSize = '25px'
            } else {
                  processNumber.style.fontSize = '15px'
            }
      })


</script>
{% endblock content %}