{% extends 'bases/control.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/control/signin.css' %}">
      <link rel="stylesheet" href="{% static 'css/control/signup.css' %}">
{% endblock head %}


{% block title %}
    
{% endblock title %}


{% block content %}
<div class="formbold-main-wrapper rounded">
      <!-- Author: FormBold Team -->
      <!-- Learn More: https://formbold.com -->
      <div class="formbold-form-wrapper max-w-sm overflow-hidden rounded shadow-lg formbold-form-input">
            <div class="div-logo">
                  <img class="img-logo" src="{% static 'imgs/logo.png' %}">
                  <h5 class="font-mono">SMARTBITS VIRTUAL LIBRARY</h5>
            </div>
            <br>
            <form action="{% url 'signin' %}" method="POST">
                  {% csrf_token %}
                  <div class="formbold-mb-3">
                        <input type="text" name="num-process" id="num-process" placeholder="processo:235" class="formbold-form-input"/>
                  </div>
                  <div class="formbold-mb-3">
                        <input type="password" name="password" id="password" placeholder="senha" class="formbold-form-input"/>
                  </div>
                  <div class="formbold-mb-3">
                        <button class="formbold-btn formbold-form-input">Submit</button>
                  </div>
                  <br>
                  <hr>
                  <div class="formbold-mb-3 div-or">
                        <span>Já tem uma conta?
                              <a href="{% url 'signup' %}" class="signup-link"><b>Cadastre-se</b></a>
                        </span>
                  </div>
            </form>
      </div>
    </div>
    
{% endblock content %}
    