.signup-link {
      display: inline-block;
      color: #333; /* Cor do texto */
      transition: background-color 0.3s ease; /* Transição suave */
      margin: 0;
}
  
.signup-link:hover {
      color: #0daedfb3; /* Cor ao passar o mouse */
}

.div-or {
      display: flex;
      justify-content: space-around;
      margin: 5px;
}

hr {
      border-color: #0daedf79;
}