@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#text {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.sec1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}


.card-book {
    background-color: white;
    font-family: 'Roboto';
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-book:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book-author {
    font-style: italic;
}

.sec-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.sec-image img {
    width: 100px;
    height: auto;
}

.sec-info {
    padding: 0px 0px 18px 20px;
    text-align: left;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.book-author {
    font-size: 14px;
    color: #666;
}