{% extends "bases/library.html" %}
{% load static %}
{% load compress %}

{% block title %}Cursos{% endblock title %}

{% block head %}
      {% compress css %}
      <link rel="stylesheet" href="{% static 'css/library/home.css' %}">
      <link rel="stylesheet" href="{% static 'css/library/book-details.css' %}">
      {% endcompress %}
{% endblock head %}

{% block content %}

{% comment %} <div style="width: 50rem;" class="bg-white rounded-lg shadow-lg p-6">
      <div style="display: flex; justify-content: space-between;">
      {% for course in courses %}
            <a href="{% url 'courses_video' course.slug %}">
            <h1>{{course}}</h1>
            </a>
      {% endfor %}
      </div>
</div> {% endcomment %}

<header>
      <div>

      </div>
</header>

<main>

</main>

{% endblock content %}