{% extends "bases/library.html" %}
{% load static %}
{% load compress %}

{% block title %}Cursos{% endblock title %}

{% block head %}
      {% compress css %}
            <link rel="stylesheet" href="{% static 'css/courses/courses-list.css' %}">
      {% endcompress %}
{% endblock head %}

{% block content %}

<div class="bg-white rounded-lg shadow-lg p-6">
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      {% for course in courses %}
      <div class="comments" style="padding: 5px; height: fit-content; margin: 5px;" align="center">
            <a href="{% url 'courses_video' course.slug %}" style="background-color: red;">
                  <h1>{{course}}</h1>
            </a>
      </div>
      {% endfor %}
      </div>
</div>

<header>
      <div>

      </div>
</header>

<main>

</main>

{% endblock content %}