{% extends "bases/library.html" %}
{% load static %}
{% load compress %}

{% block title %}Cursos{% endblock title %}

{% block head %}
      {% compress css %}
            <link rel="stylesheet" href="{% static 'css/courses/courses-list.css' %}">
            <link rel="stylesheet" href="{% static 'css/courses/courses-video.css' %}">
      {% endcompress %}
{% endblock head %}

{% block content %}
  <section style="background-color: #6666; margin-top: 0; padding-top: 30px">
    <div>
      <div class="text-description">
            <div class="body">
            <h1 class="title">{{ course.name }}</h1>
            <span class="owner">{{ course.teacher }}</span>
            </div>
            <div class="rating">
                  4,5
            </div>
      </div>
      <div class="course-card">
            <div class="header">
              <video src="{{ course.preview.url }}" controls></video>
            </div>
            <div class="body">
              <h1 class="title" align="center">Este curso inclui</h1>
              <ol type="i">
                  <li>videos: {{videos.count}}</li>
                  <li>data: {{course.publiced_at}}</li>
                  <li>categoria: {{course.category}}</li>
                  <li></li>
              </ol>
            </div>
            <div class="rating">
              4,5
            </div>
            <div class="tags">
  
            </div>
          </div>
    </div>
</section>
<br><br>
<div class="div-list-video">
      <h1 class="title" style="font-size: 20pt;">Conteúdo do Curso</h1>
      <hr>
      <br>
      <ul>
            <li align="center" style="background-color: #2d8495;  color: #fff;
            border-top-right-radius: 8px; border-top-left-radius: 8px"><b>{{course.name}}</b></li>
            {% for video in videos %}
                  <li>  
                        
                        <a href="#">{{video.title}}</a>
                  </li>
                  <hr>
            {% endfor %}

      </ul>
</div>    
<br><br><br><br><br><br><br>

  {% include 'partials/footer.html' %}
{% endblock %}
