{% extends "bases/library.html" %}
{% load static %}
{% load compress %}
{% load humanize %}

{% block title %}Cursos-Watch{% endblock title %}

{% block head %}
      {% compress css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
      <link rel="stylesheet" href="{% static 'css/library/book-details.css' %}" />
      <link rel="stylesheet" href="{% static 'css/courses/course-watch.css' %}">
      <style>
            video::-webkit-media-controls-timeline {
                  /* background-color: #318da0; */
                  padding-top: 3px;
                  padding-bottom: 3px;
                  padding-left: 0;
                  padding-right: 0;
                  margin: 4px;
                  border-radius: 30px;
            }
            video::-webkit-media-controls-fullscreen-button {
                  background-color: #318da0; /* Roxo */
                  border-radius: 30px;
                  margin-left: 2px;
            }
            video::-webkit-media-controls-play-button {
                  background-color: #318da0;
                  border-radius: 30px;
                  margin-left: 2px;
            }
            video::-webkit-media-controls-mute-button {
                  background-color: #318da0;
                  border-radius: 30px;
                  margin-left: 2px;
            }
            video::-webkit-media-controls-current-time-display {
                  color: #318da0;
                  margin-left: 2px;
            }
            video::-webkit-media-controls-time-remaining-display {
            color: #318da0;
            }
            
            
      </style>
      {% endcompress %}
{% endblock head %}
{% block content %}
<div class="bg-white rounded-lg div-master" style="width: 100%">
      <br>
      <div class="div-main" >
            <div class="main-vid-coments bg-white" style="width: 100%">
                  <div class="flex-1 round-lg shadow-lg">
                        <video style="width: 100%; height: 500px; border-radius: 5px; border-width: 1px"
                        src="{{video_main.path.url}}" controls
                        >
                        </video>    
                  </div>
                  <div class="description">
                        <h1 style="font-size: 30px">{{video_main.title}}</h1>
                        <em><b>{{video_main.curso.teacher.first_name}} {{video_main.curso.teacher.last_name}}</b></em>
                  </div>
                  <hr>
                  <div class="" style="width: 100%">
                        <div class="comment-input">
                          <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                          <input type="text" placeholder="Escreva um comentário..." id="js-comment-input" />
                          
                          <button class="submit-btn bi bi-send-fill" style="font-size: 20px; border-radius: 30px"></button>
                        </div>
                        <hr/>
                        <h1>Comentários</h1>
                        <hr/>
                        <div id="js-comments">
                          {% for comment in book.comments.all %}
                          <div class="comment">
                            <div class="comment-info">
                              <h3 class="comment-author">{{ comment.user.username }}</h3>
                              <span style="color: gray;">{{ comment.created_at|naturaltime }}</span>
                            </div>
                            <p class="comment-text">{{ comment.content }}</p>
                          </div>
                          {% empty %}
                          <div style="text-align: center;color: gray;margin-top: 2rem;" id="no-comments">Sem comentários até agora.</div>
                          {% endfor %}
                        </div>
                  </div>
            </div>

            <div class="other-video" style="padding-right: 3px">
                  <ul>
                        {% for video in paginator %}
                              <a href="{% url 'courses_watch' video.slug %}">
                                    <div class="flex-1 space-y-4 rounded-lg video-group" style="width: 100%; border-width: 1px; padding: 3px;">
                                          <div>
                                                <video style="height: 200px; width: 100%" src="{{video.path.url}}"></video>
                                          </div>
                                          <hr>
                                          <div class="">
                                                <h3 align="center">{{video}}</h3>
                                          </div>
                                    </div>
                              </a>
                        {% endfor %}
                        
                  </ul>

                  

                  <div class="btn-paginator" align="center" style="width: 100%">
                        <ul>
                              <li>
                                    {% if paginator.has_previous %}
                                          <a href="?page={{paginator.previous_page_number}}">
                                                <span style="color: #318da0; font-size: 20pt" class="bi bi-arrow-left-circle-fill"></span>
                                          </a>
                                    {% endif %}
                              </li>
                              <li>
                                    {% if paginator.has_next %}
                                          <a href="?page={{paginator.next_page_number}}">
                                                <span style="color: #318da0; font-size: 20pt" class="bi bi-arrow-right-circle-fill"></span>
                                          </a>
                                    {% endif %}
                              </li>
                        </ul>

                  </div>
            </div>
      </div>
</div>
{% endblock content %}